<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body class="p-5">
<div id="app">
        <card
                header="Üye Girişi"
                detail="sdvsdlcsdlksdmv">
        </card>

    <card
            header="Üye Girişi"
            :detail="mesaj">
    </card>
</div>
<script src="../assets/js/vue.js"></script>
<script>
    Vue.component('card',{
        props:['header','detail'],
             template: '<div class="alert alert-info">' +
                 '{{header}} <br>' +
                 '{{detail}}' +
                 '</div>'
    });

    const app = new Vue({
        el: '#app',
        name: 'Test Vue Example',
        data: {
            mesaj:"Merhaba Vue",
        }
    })
</script>
</body>
</html>